html {
	background-color: #BDEDFF;
	font-family: Courier New;
}

body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    margin: 0 auto;
	text-align:center 
}
#nav_menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
	background-color: #00334c;
}
#nav_menu ul li {
	float: left;
        width:20%;
}
#nav_menu ul li a {
   	display: block;
    	text-align: center;
   	padding: 1em 0;
    	text-decoration: none;
    	color: white;
    	font-weight: bold;
}
#nav_menu a.current {
	color: yellow;
}
#nav_menu ul ul {
  	 width: 100%;
  	 display: none;
  	 position: absolute;
   	 top: 100%;
}
#nav_menu ul ul li {
	float: none;
}
#nav_menu ul li:hover > ul {
	display: block;
}
#nav_menu > ul::after {
  	 content: "";
   	 clear: both;
   	 display: block;
}
#nav_menu-right{
	float:right;
}
img{
	margin:2%;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #343a40;
  color: white;
  text-align: center;
}